@font-face {
    font-family: "Felix Ti";
    src: url("/res/fonts/Felixti.TTF") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("/res/fonts/Lato-BoldItalic.ttf") format("truetype");
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    background-color: #f3f3f3;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    color: #932432;
    font-family: Felix Ti;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: #283747;
}

.nav-links li {
    list-style: none;
    color: #283747;
}

.nav-links a {
    color: #283747;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #283747;
    transition: all 0.4s ease;
}

.intro {
    background-color: #f3f3f3;
    color: #932432;
    padding-top: 75px;
    padding-left: 20px;
    font-family: Felix Ti;
}

#brian {
    font-size: 336px;
}

#weloba {
    font-size: 250px;
    top: 340px;
    position: absolute;
}

#portfolio {
    font-size: 190px;
    position: absolute;
    top: 540px;
    color: #283747;
}

.about,
.work,
.intro {
    height: 100vh;
}

.about {
    background-color: #932432;
}

.headline {
    padding-top: 75px;
    padding-left: 20px;
    font-size: 120px;
    font-family: Felix Ti;
    color: #f3f3f3;
}

.work {
    background-color: #283747;
}

#about-info {
    width: 1080px;
    margin-left: 10px;
    font-family: Lato;
    font-size: 21px;
    color: #f3f3f3;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 70px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(0px, 6px)
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    transform: rotate(45deg) translate(0px, -6px)
}